[user]
  email = jon@tyrbo.net
  name = Jonmichael Chambers
	signingkey = 06E6D5726060127F
[commit]
  gpgsign = true
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  autocrlf = input
[push]
  default = simple
[rerere]
  enabled = 1
[gpg]
	program = gpg2
[credentials]
	helper = cache
[credential]
	helper = cache
