[user]
  email = jon@tyrbo.net
  name = Jonmichael Chambers
  signingkey = 4FCA5CE74E109ABC!
[commit]
  gpgsign = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[push]
  default = simple
[rerere]
  enabled = 1
